.antique-toc-heading-wrap {
    border: var(--antique-toc--heading--border);
    background-color: var(--antique-toc--heading--bg-color);
    color: var(--antique-toc--heading--font-color);
}

.antique-toc-headings-table-wrap {
    position: relative;
    width: 100%;
    padding: 14px 20px;
    border: var(--antique-toc--content--border);
    background-color: var(--antique-toc--content--bg-color);
    color: var(--antique-toc--content--font-color);
}

.antique-toc-headings-table-wrap ol {
    padding: 0 0 0 20px;
    margin: 0;
    counter-reset: item;
    list-style-type: none;
}

.antique-toc-headings-table-wrap > ol {
    padding-left: 0;
}

.antique-toc-headings-table-wrap ol li:before {
    content: counters(item, ".") "";
    counter-increment: item;
    display: inline;
    font-weight: 300;
}

.antique-toc-headings-table-wrap ol li {
    margin: 4px 0;
}

.antique-toc-headings-table-wrap ol li a {
    padding-left: 12px;
    font-weight: 300;
}

.antique-toc-headings-table-wrap a,
.antique-toc-headings-table-wrap a:hover,
.antique-toc-headings-table-wrap a:visited {
    text-decoration: none;
    color: var(--antique-toc--content--font-color);
}